.navbar.navbar-conio {
  display: flex;
  justify-content: space-between;
  color: $black inherit;

  &.negative {
    color: $white;

    .navbar-nav .nav-item .nav-link::after {
      background: url("https://www.conio.com/assets/images/active--yellow.svg") no-repeat center center !important;
    }
  }

  .navbar-brand {
    z-index: $zindex-modal;
    color: inherit;
  }

  .navbar-toggler {
    z-index: $zindex-modal;
    >span {
      display: inline-block;
      // hide text if parent doesn't have collapsed class
      opacity: 0;
      transition: all .3s ease-out;
      transform: translateX(-20px);
      will-change: opacity, transform;
    }

    &.collapsed>span {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .navbar-nav {
    color: inherit;

    .nav-link {
      position: relative; // need this to let ::after decoration work
      color: inherit;
      text-decoration: none;
    }
  }

  .nav-icons>:nth-child(n) {
    padding: 0 2.5px;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &.navbar-expand#{$infix} .navbar-collapse {

      @include media-breakpoint-down($breakpoint) {
        position: fixed;
        top: 0;
        right: 0;
        left: auto;
        z-index: $zindex-modal-backdrop;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: inherit;
        transition: transform .3s cubic-bezier(0, .71, .41, 1);
        transform: translateX(100%);
        will-change: transform;

        &.show {
          transform: translateX(0);
        }

        .navbar-nav {
          font-weight: 700;
          line-height: 1.33;

          &.left {
            font-size: 3rem;
          }
          &.right {
            font-size: 2rem;
          }
        }

        .nav-item .nav-link {
          padding: 0;
        }
      }

      @include media-breakpoint-up($next) {
        .navbar-nav {
          &.left {
            justify-content: flex-start;
          }
          &.right {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-content: center;
          }
        }

        .nav-item {

          .nav-link::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 5px;
            content: " ";
            background: url("https://www.conio.com/assets/images/active.svg") no-repeat center center;
            background-size: cover;
            transition: width .2s cubic-bezier(0, .71, .41, 1);
            will-change: width;
          }

          &.active, &:hover {
            .nav-link::after {
              width: 101%;
            }
          }
        }
      }
    }
  }
}
